html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "SilverSouth";
  src: local("SilverSouth"), url(../fonts/SilverSouth.otf) format("opentype");
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bar {
  height: 92px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 6rem;
}

.gallery-container.gallery-bottom {
  padding-bottom: 0;
}

.gallery-header.fancy {
  padding: 1rem;
  color: white;
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.adventure {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.adventure .fancy span {
  font-size: 1rem;
}

.container-wrapper {
  max-width: 1140px;
  display: flex;
  height: 100%;
  margin: auto;
}

.journey {
  font-size: 2rem;
  display: table-cell;
  vertical-align: middle;
}

.container-wrapper.bar {
  height: 92px;
}

.container-wrapper.bar.fancy {
  font-size: 2rem;
  display: table;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark,
.content.dark {
  color: rgb(152, 188, 192) !important;
  background-color: rgb(49, 51, 62) !important;
}

.light,
.content.light {
  color: rgb(49, 51, 62) !important;
  background-color: rgb(152, 188, 192) !important;
}

.content.gallery-container {
  height: fit-content;
}

.subtitle {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

.subtitle.fancy {
  font-size: 1.5rem;
}

.dark-text {
  color: rgb(49, 51, 62) !important;
}

.header {
  width: 100%;
  height: 92px;
  color: rgb(152, 188, 192);
  background-color: white;
}

.content {
  background-color: rgb(152, 188, 192);
  width: 100%;
  display: flex;
}

.welcome {
  display: flex;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.gallery-title {
  height: 92px;
  width: 100%;
}

.book-container {
  position: relative;
  display: flex;
  height: 20rem;
  width: 100%;
}

.button-link {
  border: 0.2rem solid rgb(5, 18, 23);
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: white;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  text-decoration-color: rgb(5, 18, 23);
  margin-top: 2rem;
}

.button-link:hover {
  background-color: rgb(152, 188, 192);
  border: 0.2rem solid white;
  color: white;
}

.button-link:hover strong {
  color: white;
}

.chapter-download {
  margin-top: 2.8rem;
}

.button-link span {
  font-size: 3rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-decoration: underline;
}

.button-link strong {
  color: rgb(5, 18, 23);
}

.overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.avatar {
  display: flex;
  justify-content: space-around;
  padding: 0 15vw 0 15vw;
}

.background-image {
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
}

.background-image div {
  justify-content: center;
}

.avatar img {
  width: 100%;
  border: 0.2rem solid white;
  border-radius: 0.2rem;
}

.welcome-text,
.welcome-text-inline {
  color: white;
  padding: 1vw 5vw 1vw 5vw;
  line-height: 1.5;
  font-weight: 300;
}

.quote {
  font-style: italic;
  font-weight: 500;
}

strong {
  -webkit-font-smoothing: subpixel-antialiased;
  color: rgb(152, 188, 192);
  display: inline;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  height: auto;
  letter-spacing: 4.070000171661377px;
  line-height: 2rem; 
  pointer-events: auto;
  text-align: center;
  text-rendering: optimizeLegibility;
  width: auto;
  word-wrap: break-word;
}

.fancy {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-hyphens: manual;
  display: flex;
  font-family: SilverSouth;
  font-size: 80px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.800000011920929px;
  line-height: 56px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  pointer-events: auto;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: pre-wrap;
}

.top-border {
  border-top: 5px solid white;
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

.gallery-card {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.gallery-card-img {
  display: flex;
  border: 0.2rem solid rgb(152, 188, 192);
  border-radius: 0.2rem;
}

.light .gallery-card-img {
  border: 0.2rem solid white; 
}

.gallery-card-img img {
  width: 300px;
  height: auto;
}

.gallery-card-title {
  font-size: 1.5rem;
  font-family: SilverSouth;
  padding: 2rem 0 2rem 0;
}

.light .gallery-card-title {
  color: white !important;
}

.footer {
  display: flex;
  padding: 1rem;
  text-align: right;
  width: 100%;
}